<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Profile</title>
</head>
<body>

<p>
    <a href="{% url 'home' %}">Home</a>
    {% if is_merchant %}
        <a href="{% url 'browse_menu' profile.user.id %}">Browse Menu</a>
    {% else %}
        <a href="{% url 'browse_order' profile.user.id %}">Browse Order</a>
    {% endif %}
</p>

<h1>{{ profile.user.username }}'s Profile</h1>

{% if profile.image %}
    <img src="{{ profile.image.url }}" width="200px">
{% else %}
    <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
{% endif %}<br>

Username: {{ profile.user.username }}<br>
Type: {% if profile.type %}Merchant{% else %}Student{% endif %} <br>
Website: {{ profile.website }}<br>
Address: {{ profile.address }}<br>
Summary: {{ profile.summary }}<br>

{% if user_id == profile.user_id %}
<a href="{% url 'edit_profile' profile.id %}">Edit Profile</a>
{% endif %}

</body>
</html>