{% extends "CSS/base.html" %}

{% load static %}

{% block title %}Browse Profile{% endblock %}

{% block nav %}
    {% if is_merchant %}
        <li><a href="{% url 'browse_menu' profile.user.id %}">Browse Menu</a></li>
    {% else %}
        <li><a href="{% url 'browse_order' profile.user.id %}">Browse Order</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ profile.user.username }}'s Profile</h1>
    <div class="row marketing">
        <div class="col-lg-5">
            {% if profile.image %}
                <img src="{{ profile.image.url }}" width="200px">
            {% else %}
                <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
            {% endif %}
        </div>
        <div class="col-lg-7">
            <h2>Username: {{ profile.user.username }}</h2>
            <h2>Type: {% if profile.type %}Merchant{% else %}Student{% endif %}</h2>
            <h2>Website: {{ profile.website }}</h2>
            <h2>Address: {{ profile.address }}</h2>
            <h2>Summary: {{ profile.summary }}</h2>
            {% if user_id == profile.user_id %}
                <a href="{% url 'edit_profile' profile.id %}" role="button" class="btn btn-success">Edit Profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}