{% extends 'CSS/base.html' %}

{% load static %}

{% block title %}Edit Order{% endblock title %}

{% block nav %}
    <li><a href="{% url 'browse_profile' profile.id %}">Browse Profile</a></li>
{% endblock %}

{% block content %}
    <h1>Editing {{ profile.user.username }}'s Profile</h1>
    <div class="row marketing">
        <div class="col-lg-5">
            {% if profile.image %}
                <img src="{{ profile.image.url }}" width="200px">
            {% else %}
                <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
            {% endif %}
        </div>
        <div class="col-lg-7">
            <form method="post" action="{% url 'edit_profile' profile.id %}" enctype="multipart/form-data" class="form-signin">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success">Save Edit</button>
            </form>
        </div>
    </div>
{% endblock %}