{% extends 'CSS/base.html' %}

{% block nav %}
    <li>
        <a href="{% url 'register' %}">Register</a>
    </li>
    <li>
        <a href="{% url 'reset' %}">Forget your password</a>
    </li>
{% endblock nav %}

{% block title %}Log In Page{% endblock title %}

{% block login %}
    <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
      {% csrf_token %}
    <div class="form-group">
      <input type="username" name="username" class="form-control" id="username" value="{{username}}" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>
{% endblock login %}