{% extends 'CSS/base.html' %}

{% block full %}class="full"{% endblock %}

{% load static %}

{% block nav %}
    <li>
        <a href="{% url 'login' %}">Login Page</a>
    </li>
{% endblock nav %}

{% block title %}Register{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'register' %}" class="form-signin">
        <table>
            {{ form }}
        </table>
        <button type="submit" class="btn btn-success">Register</button>
        {% csrf_token %}
    </form>
{% endblock content %}