{% extends 'CSS/base.html' %}

{% load static %}

{% block css %}<link href="{% static 'CSS/css/signin.css' %}" rel="stylesheet">{% endblock css %}

{% block nav %}
    <li>
        <a href="{% url 'login' %}">Login Page</a>
    </li>
{% endblock nav %}

{% block title %}Register{% endblock title %}

{% block register %}
    <form method="post" action="{% url 'register' %}">
        <table>
            {{ form }}
        </table>
        <button type="submit" class="btn btn-success">Register</button>
        {% csrf_token %}
    </form>
{% endblock register %}