<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer's Order Review Page</title>
</head>
<body>

<h1>Dear {{ order.customer.username }}, Please review your order</h1>

<form method="post" action="{% url 'review_order' order.id %}">
<table>
    {% csrf_token %}
    Merchant: {{ order.menu.merchant.username }}<br>
    {% if order.menu.image %}
        <img src="{{ order.menu.image.url }}" width="200px">
    {% else %}
        <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
    {% endif %}<br>
    Food: {{order.menu.food_name }}<br>
    Quantity: {{order.quantity }}<br>
    {{form}}
</table>
<input type="submit" value="Review" />
</form>

</body>
</html>