<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Home</title>
</head>
<body>

<a href="{% url 'browse_profile' profile.id %}">My Profile</a>
<a href="{% url 'browse_order' profile.user.id %}">Browse Order</a>
<a href="{% url 'logout' %}">Logout</a>

<p>Welcome to CSS,
    {% if profile.type %}merchant{% else %}student{% endif %}
    {{ profile.user.username }}
</p>

<h1>Today's Orders</h1>

{% for order, count in user_today_orders %}

    Merchant:<a href="{% url 'browse_menu' order.menu.merchant.id %}">{{ order.menu.merchant.username}}</a><br>
    Already ordered {{ count }} times!<br>
    {% if order.menu.image %}
        <img src="{{ order.menu.image.url }}" width="200px">
    {% else %}
        <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
    {% endif %}<br>
    Type: {% if order.menu.is_lunch %}Lunch{% else %}Dinner{% endif %}<br>
    Food: {{order.menu.food_name }}<br>
    {% if not order.is_taken %}
        Price: {{ order.menu.price }}<br>
        Quantity: {{ order.quantity }}<br>
        Location: {{ order.location }}<br>
        <a href="{% url 'edit_order' order.id %}">Edit Order</a><br>
        <a href="{% url 'delete_order' order.id %}">Delete Order</a><br>
        <a href="{% url 'pickup_order' order.id %}">Pickup Order</a><br>
    {% else %}
        <a href="{% url 'review_order' order.id %}">Review</a>
    {% endif %}
    <br>

{% endfor %}

<h1>Today's Menus</h1>

{% for menu, form, count in unordered_menus_forms %}
<form method="post" action="{% url 'create_order' %}">
{% csrf_token %}

    Merchant:<a href="{% url 'browse_menu' menu.merchant.id %}">{{ menu.merchant.username}}</a><br>
    Already ordered {{ count }} times!<br>
    {% if menu.image %}
        <img src="{{ menu.image.url }}" width="200px">
    {% else %}
        <img src="{% static 'CSS/images/default.png' %}" class="img-responsive" width="200px">
    {% endif %}<br>
    Type: {% if menu.is_lunch %}Lunch{% else %}Dinner{% endif %}<br>
    Food: {{menu.food_name }}<br>
    Price: {{ menu.price }}<br>
    {{ form }}
    <input type="hidden" value="{{ menu.id }}" name="menu_id">
    <input type="submit" value="Save Order" /><br><br><br>

</form>
{% endfor %}

</body>
</html>